altgraph==0.17.4
Markdown==3.5
numpy==1.26.2
packaging==23.2
pandas==2.1.4
pglive==0.7.2
pipdeptree==2.13.1
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtgraph==0.13.3
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3.post1
QtPy==2.4.0
qtwidgets==1.1
six==1.16.0
tzdata==2023.3
